body{
    font-size: 16px;
    font-family: 'HelveticaLight';
    box-sizing: border-box;
    color: #1e1e25;
}

* {
    box-sizing: inherit;
}

p {
    line-height: 1.5;
}

img {
    max-width: 100%;;
}


.beige {
    color: #603c00;
}

.like {
    &-h1{font-size: 2em;}
    &-h2{font-size: 1.5em;}
    &-h3{font-size: 1.17em;}
    &-h4{font-size: 1em;}
    &-h5{font-size: .83em;}
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section__title {
    color: #1e1e25;
    font-family: $h-light;
    font-size: 60px;
    font-weight: 300;

    max-width: 100%;
    word-break: break-all;

    @include _500 {
        font-size: 40px;
    }
}

.more-link-row {
    text-align: right;
    margin: 50px 0;
}

.more-link {
    font-family: $h-light;
    font-size: 24px;
    font-weight: 300;
    vertical-align: middle;
    display: inline-block;
    color: inherit;
    text-decoration: none;

    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        background-image: url('../images/more-arrows.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 19px;
        height: 21px;
        margin-left: 30px;
        transition: .3s all;
    }

    &:hover:after{
        transform: translateX(10px);
    }
}

.copyright {
    color: #603c00;
    font-family: $h-light;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 1.2px;
    text-align: center;
    width: 100%;
    padding: 115px 0 80px;
    margin: 0;
}








/* BREADCRUMBS */

.breadcrumbs {
    margin: 100px 0 50px;

    padding-left: 0;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    &__item{
        margin-right: 35px;
        position: relative;
        color: #1e1e25;

        &:not(:first-child):before {
            content: '';
            background-color: #1e1e25;
            display: inline-block;
            width: 1px;
            height: 20px;
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);

        }

        &.current {
            color: #603c00;


            &:before {background-color: #603c00;}
        }
    }

    &__link{
        text-decoration: none;
        color: inherit;
        font-family: $h-light;
        font-size: 24px;
        font-weight: 300;
        line-height: 36px;

        @include _500 {
            font-size: 17px;
        }


    }
}







/* ABOUT PAGE */

.about {
    &__container {
        padding-bottom: 40px;
    }
    &__content {
        font-family: $h-light;
        padding: 80px 100px 100px;
        box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.33);
        border-radius: 10px;
        background-color: #faf9f5;

        @include _500 {
            padding: 40px;
        }

        h1 {
            color: #603c00;
            font-size: 24px;
            margin-bottom: 50px;
        }

        h2 {
            color: #603c00;
            font-size: 18px;
            margin: 40px 0 20px;
        }

        p {
            font-size: 16px;
        }

        a{
            color: #603c00;
            text-decoration: none;
            font-weight: bold;
        }
    }
}



