@font-face {

    //FIXME: Конвертировать шрифты

    font-family: "Soudal";
    // src: url(WebFont.eot?) format("eot"),
    //      url(WebFont.woff) format("woff"),
        src: url('../fonts/bwglennslab-black.otf') format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "HelveticaLight";
    // src: url(WebFont.eot?) format("eot"),
    //      url(WebFont.woff) format("woff"),
        src: url('../fonts/HelveticaNeueCyr-Light.woff') format("woff");
}

@font-face {
    font-family: "HelveticaBlack";
    // src: url(WebFont.eot?) format("eot"),
    //      url(WebFont.woff) format("woff"),
        src: url('../fonts/HelveticaNeueCyr-Black.woff') format("woff");
}

