//    using example
//
//    div {
//        @include media-desktop {
//            font-size: 20px;
//        }
//    }



@mixin _500 {
    @media (max-width: 500px) {
        @content;
    }
}


@mixin _350 {
    @media (max-width: 350px) {
        @content;
    }
}
