.products {

    &--main {margin-top: 140px;}


    &__title {
        padding: 1px;
        margin-bottom: 100px;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        list-style: none;
        padding-left: 0;


        @include _500 {
            justify-content: center;
        }
    }

    &__item {
        flex-basis: calc((100% - 90px) / 4);

        @include _500 {
            flex-basis: 80%;
            margin-bottom: 30px;
        }

        &--catalog {
            flex-basis: 30%;
            margin-bottom: 30px;

            @include _500 {
                flex-basis: 80%;
            }
        }

    }
}

.product {
    box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;

    &__link {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    &__img {
        padding: 20px;
        display: block;
        width: 100%;
    }

    &__title {
        background-image: linear-gradient(to bottom, #e8cda1 0%, $beige 100%);
        margin: 0;
        border-radius: 0 0 10px 10px;
        color: #1e1e25;
        font: 300 24px/1.2 $h-light;

        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 30px;
    }
}




.product-mounth {
    margin-top: 50px;
    box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    background-color: #ffffff;


    &__link{
        text-decoration: none;
        color: inherit;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__descr {
        flex-basis: 50%;
        border-radius: 10px 0 0 10px;
        background-color: $beige;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        @include _500 {
            flex-basis: 100%;
            border-radius: 0;
        }
    }
    &__title{
        text-align: center;
        font-size: 42px;
        font-weight: 300;
        line-height: 80px;

    }
    &__name{
        font-size: 60px;
        display: block;
    }

    &__picture{
        flex-basis: 50%;
        text-align: center;

        @include _500 {
            flex-basis: 100%;
        }
    }
}



/* Catalog PAGE */

.catalog {
    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__categories {
        flex-basis: 23%;

        @include _500 {
            flex-basis: 100%;
        }
    }

    &__content {
        flex-basis: calc(77% - 30px);

        @include _500 {
            flex-basis: 100%;
            margin-top: 50px;
        }
    }

    &__detail-img {
        float: left;
        @include _500 {
            float: none;
            max-width: 80%;
            display: block;
            margin: 0 auto;
        }
    }

    &__detail-info {
        margin-left: 200px;

        @include _500 {
            margin-left: 0;
        }
    }
}




.categories {

    &__block {
        box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.33);
        border-radius: 10px;
        background-color: #faf9f5;

        &:first-child {
            margin-bottom: 30px;
        }
    }

    &__title {
        border-radius: 10px 10px 0 0;
        color: #fff;
        padding: 13px 60px 13px 30px;
        background-color: #1e1e25;
        font-size: 24px;
    }

    &__list {
        list-style: none;
        padding-left: 0;
        padding-bottom: 30px;

        @include _500 {
            display: none;
        }
    }

    &__item {
        padding: 0 30px;
        margin-bottom: 20px;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        font-family: $h-light;
        font-size: 18px;
        transition: .3s all;

        &:hover{
            color: $beige;
        }
    }
}

.sort {
    padding: 30px;
    box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    background-color: #faf9f5;
    margin-bottom: 30px;

    &__params {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-right: 40px;
        margin-top: 30px;

        @include _500 {
            padding-right: 0;
        }
    }
}

.sort-params {
    &__select {
        @include _500 {
            flex-basis: 100%;
            margin-bottom: 15px;
        }
    }

    &__label {
        @include _500 {
            margin: 20px 0;
        }
    }

    &__select {
        box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        background-color: #ffffff;
        padding: 5px;
        border: none;
        outline: none;
        cursor: pointer;
    }
}



.detail {
    &__content {
        box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.33);
        border-radius: 10px;
        background-color: #faf9f5;
        padding: 30px 30px 30px 50px;
    }
}