/* CONTACTS */

.maps {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;


    &__tabs {
        transform: rotate(90deg);
        position: absolute;
        top: 200px;
        right: -230px;
        display: inline-flex;
        width: auto;
        justify-content: flex-start;

        @include _500 {
            position: static;
            transform: rotate(0);
        }
    }

    &__tab {
        cursor: pointer;
        transition: .3s all;
        width: 200px;
        height: 90px;
        border-radius: 10px 10px 0 0;
        background-color: #fff;
        text-align: center;
        padding-top: 5px;
        color: #1e1e25;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.33);
        font: 300 30px/1.6 $h-light;

        @include _500 {
            padding: 10px;
            height: auto;
            border-radius: 0;
        }

        &:first-child {
            margin-right: 30px;

            @include _500 {
                margin-right: 0;
            }
        }

        &.active {
            color: #faf9f5;
            box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.5);
            background-color: #1e1e25;
            z-index: 3;
        }
    }

    &__contents {
        position: relative;
        width: 1100px;
        max-width: 100%;
        margin: 0 auto;
        height: 659px;
        box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.33);
        border-radius: 10px;
        background-color: #e8cda1;
        overflow: hidden;

        @include _500{
            //margin-top: -25px;
        }

    }

    &__content {
        visibility: hidden;
        opacity: 0;
        transition: .3s al;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: .3s al;
        -o-transition: .3s al;

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    &__map {
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: #fff;
    }
}


/* END CONTACTS */