/* START FEATURES */

.features {
    padding: 400px 0 500px;
    background-image: url('../images/bg-features.jpg');
    background-size: cover;
    background-repeat: no-repeat;


    @include _500 {
        padding: 200px 0 100px;
    }

    &__title {
        margin-bottom: 150px;
    }

    &__list {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        text-align: center;

        @include _500 {
            flex-basis: 100%;
            margin-bottom: 60px;
        }
    }

    &__img {
        margin-bottom: 50px;
    }

    &__name {
        font-family: $h-light;
        font-size: 36px;
        font-weight: 300;
        line-height: 1.2;
        margin: 0;
    }
}



/* END FEATURES */