/* START FOOTER */

.footer {
    background-image: url('../images/footer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__left,
    &__right{
        flex-basis: calc(50% - 30px);

        @include _500 {
            flex-basis: 100%;
        }
    }

    &__map {
        height: 567px;
        width: 100%;
        margin-top: 70px;
    }
}

/*
color: #1e1e25;
font-family: $h-light;
font-size: 60px;
font-weight: 300;
*/


.form-feedback {
    width: 100%;
    //max-width: 100%;

    &--page {
       max-width: 500px;
       margin: 0 auto;
    }

    &__row {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include _500 {
            margin-bottom: 0;
        }

    }

    &__field {
        box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.33);
        border-radius: 10px;
        background-color: rgba(250, 249, 245, .5);
        border: none;

        font-size: 24px;
        font-weight: 300;

        padding: 20px 30px;
        width: 100%;
        max-width: 240px;
        display: inline-block;

        @include _500 {
            max-width: 100%;
            margin-bottom: 30px;
        }

        &--wide {
            max-width: 100%;
        }

        &--textarea {
            height: 220px;
        }
    }

    &__btn {
        // Style for "Прямоуголь"
        box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.33);
        border-radius: 10px;
        background-image: linear-gradient(to bottom, #e8cda1 0%, $beige 100%);
        display: block;
        width: 100%;
        font-size: 24px;
        padding: 20px 0;
        border: none;
        cursor: pointer;
        transition: .3s all;

        &:hover {
            transform: translateY(-4px);
        }
    }

}



.contacts {
    &__list {
        padding-left: 0;
        list-style: none;

        &--page {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__item {
        margin-bottom: 50px;

        &--page {
            flex-basis: 50%;
            margin-bottom: 70px;
        }
    }

    &__name,
    &__text {
        font-size: 36px;
        margin: 0;
        width: 100%;
        word-wrap: break-word;

        @include _500 {
            font-size: 25px;
        }
    }

    &__phone {
        font-size: 48px;
        text-decoration: none;
        color: inherit;
        vertical-align: middle;
        position: relative;
        padding-left: 49px;
        display: block;

        @include _500 {
            font-size: 30px;

            &:before {
                width: 32px;
                height: 27px;
            }
        }

        &:before {
            content: '';
            width: 39px;
            height: 37px;
            background-image: url('../images/phone-icon.svg');
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
            transform: rotate(-90deg) translateX(50%);
            position: absolute;
            top: 50%;
            left: 0;

        }
    }

    &__email {
        font-size: 30px;
        text-decoration: none;
        color: inherit;
        vertical-align: middle;
        position: relative;
        padding-left: 49px;

        @include _500 {
            font-size: 24px;

            &:before {
                width: 27px;
                height: 27px;
            }
        }

        &:before {
            content: '';
            width: 39px;
            height: 35px;
            background-image: url('../images/mail-icon.svg');
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            vertical-align: middle;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: 0;

        }
    }
}

/* END FOOTER */