/* START GREETING */

.greeting {
    background-image: url('../images/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;


    @include _500 {
        padding: 160px 0;
        position: relative;
        z-index: 20;
    }

    &__title {
        color: #1e1e25;
        font-family: "HelveticaBlack";
        font-size: 90px;
        font-weight: 400;
        letter-spacing: -4.5px;
        margin: 110px 0;
        max-width: 100%;
        word-wrap: break-word;

        @include _500 {
            font-size: 45px;
            margin: 0;
            letter-spacing: -2px;
        }
    }

    &__soudal {
        font-family: 'Soudal';
        text-transform: uppercase;
        letter-spacing: -1.5px;
        font-size: 70px;
        font-weight: bold;
        position: relative;

        @include _500 {
            font-size: 35px;

            &:before {
                display: none;
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -30px;
            left: 0;
            width: 100%;
            height: 40px;
            background-color: #d24a43;
        }
    }


    &__images {

        @include _500 {
            display: none;
        }
    }
}

/* END GREETING */