/* START HEADER */
.header {
    background-color: #1e1e25;
    opacity: 0.9;
    z-index: 25;

    @include _500 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        // flex-basis: 63%;
    }

    @include _500 {
        padding: 20px 10px;
    }
}

.icon-cross {
    width: 30px;
    height: 30px;
    fill: #fff;
    position: absolute;
    top: 40px;
    right: 40px;

    display: none;

    @include _500 {
        display: block;
    }
}

.icon-menu {
    width: 35px;
    height: 35px;
    fill: #fff;

    display: none;

    @include _500 {
        display: block;
    }
}

.nav {
    transition: .3s all;


    @include _500 {

        z-index: 20;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
        background-color: #000;
        overflow: auto;
        display: flex;
        align-items: center;
        overflow: hidden;

        opacity: 0;
        visibility: hidden;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }

    &__list {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;


    }

    &__item {
        margin-right: 38px;
        display: inline-block;

        @include _500 {
            width: 100%;
            margin-right: 0;
        }
    }

    &__link {
        position: relative;
        color: #faf9f5;
        font-size: 18px;
        font-weight: 300;
        line-height: 36px;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        transition: .3s all;
        text-decoration: none;
        padding: 33px 0;
        display: inline-block;


        @include _500 {
           padding: 20px 30px;

           &.active:after {
            display: none;
           }
        }

        &.active {
            color: $beige;

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 10px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $beige;
            }
        }

        &:hover {
            color: $beige;
        }
    }
}


.header-phone {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 1.5px;
    font-style: normal;

    @include _500 {
        font-size: 20px;
    }


    &__link{
        color: #faf9f5;
        text-decoration: none;
        vertical-align: middle;

        @include _500 {
            &:before {
                margin-right: 12px;
                width: 23px;
                height: 22px;
            }
        }


        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
            width: 32px;
            height: 30px;
            background-image: url('../images/phone-icon1.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

/* END HEADER */