/* START MEDIA */

.media {

    &__title {
        margin-bottom: 100px;
    }

    &__list {
        padding-left: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: calc((100% - 60px) / 3);
        position: relative;

        @include _500 {
            flex-basis: 100%;
            margin-bottom: 30px;
        }

        &--wide {
            flex-basis: 100%;
            margin-bottom: 30px;

            .media__video {
                height: 600px;

                @include _500 {
                    height: 300px;
                }
            }

            .media__name {
                position: absolute;
                top: 25px;
                left: 40px;
                color: #1e1e25;
                font-family: $h-light;
                font-size: 30px;
                font-weight: 300;

                @include _500 {
                    position: static;
                    font-size: 20px;
                }
            }
        }
    }

    &__video {
        width: 100%;
        height: 210px;
        box-shadow: 0 10px 26px 1px rgba(0, 0, 0, 0.33);
        border-radius: 10px;
        background-color: #e8cda1;

        @include _500 {
            height: 300px;
        }
    }

    &__name {
        text-align: center;
        margin: 25px 0;
        font-size: 20px;
    }
}

/* END MEDIA */