footer.footer
    .footer__container.container

        //START FORM
        form.footer__form.form-feedback.form-feedback--page
            p.section__title Обратная связь

            .form-feedback__row
                input.form-feedback__field(type="text" placeholder="Имя")
                input.form-feedback__field(type="tel" placeholder="Телефон")

            .form-feedback__row
                input.form-feedback__field.form-feedback__field--wide(type="email" placeholder="E-mail")

            .form-feedback__row
                textarea.form-feedback__field.form-feedback__field--wide.form-feedback__field--textarea(placeholder="Сообщение")

            button.form-feedback__btn Отправить
        //END FORM

        p.copyright ООО «Лига-Строй», 2018