footer.footer
    .footer__container.container
        //START LEFT
        .footer__left
            p.footer__title.section__title Обратная связь

            //START FORM
            form.footer__form.form-feedback
                .form-feedback__row
                    input.form-feedback__field(type="text" placeholder="Имя")
                    input.form-feedback__field(type="tel" placeholder="Телефон")

                .form-feedback__row
                    input.form-feedback__field.form-feedback__field--wide(type="email" placeholder="E-mail")

                .form-feedback__row
                    textarea.form-feedback__field.form-feedback__field--wide.form-feedback__field--textarea(placeholder="Сообщение")

                button.form-feedback__btn Отправить
            //END FORM

            //START MAP
            .footer__map#footer-map
            //END MAP

        //END LEFT

        //START RIGHT
        .footer__right
            p.footer___title.section__title Контакты


            -
                var contacts = [
                    {name:'Александр Геннадьевич',email:'liga.vs.stroy@yandex.ru', phone:'8 (913) 210 43 42', tel:'89132104342'},
                    {name:'Евгения Геннадьевна', email:'liga.ek.stroy@yandex.ru', phone:'8 (3852) 60 43 42', tel:'83852604342'},
                    {name:'Региональный отдел (Александр)', email:'mag.vs@yandex.ru', phone:'8 (983) 103 47 13', tel:'89831034713'},
                    {name:'Технический отдел (Владимир)', email:'liga.vs.stroy@yandex.ru', phone:'8 (902) 144 30 13', tel:'89021443013'},
                    {text: 'Алтайский край  г. Барнаул ул. Ярных 2, 2 этаж, каб 240'},
                    {text: 'Отделение в Москве: Домодедово,микрорайон Востряково, владение Триколор, 6, владение «Триколор»'}
                ]



            div.contacts
                ul.contacts__list
                    each item in contacts
                        li.contacts__item
                            if item.name
                                p.contacts__name=item.name

                            if item.email
                                a.contacts__phone(href="tel:"+item.phone)=item.phone

                            if item.phone
                                a.contacts__email(href="mailto:"+item.email)=item.email

                            if item.text
                                p.contacts__text=item.text



        //END RIGHT


        p.copyright ООО «Лига-Строй», 2018