header.header
    .header__container.container


        svg.icon-menu(enable-background='new 0 0 512 512', version='1.1', viewbox='0 0 512 512', xml:space='preserve', xmlns='http://www.w3.org/2000/svg')
          path(d='m491.32 235.32h-470.64c-11.422 0-20.682 9.259-20.682 20.682s9.26 20.682 20.682 20.682h470.64c11.423 0 20.682-9.259 20.682-20.682 0-11.422-9.259-20.682-20.682-20.682z', fill='#fff')
          path(d='m491.32 78.439h-470.64c-11.422 0-20.682 9.26-20.682 20.682s9.26 20.682 20.682 20.682h470.64c11.423 0 20.682-9.26 20.682-20.682s-9.259-20.682-20.682-20.682z', fill='#fff')
          path(d='m491.32 392.2h-470.64c-11.422 0-20.682 9.259-20.682 20.682s9.26 20.682 20.682 20.682h470.64c11.423 0 20.682-9.259 20.682-20.682s-9.259-20.682-20.682-20.682z', fill='#fff')



        nav.nav.header__nav

            svg.icon-cross(xmlns='http://www.w3.org/2000/svg', width='24', height='24', viewbox='0 0 24 24')
              path(d='M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z')


            ul.nav__list
                li.nav__item
                    a.nav__link.active(href="index.html") Главная
                li.nav__item
                    a.nav__link(href="catalog.html") Продукция
                li.nav__item
                    a.nav__link(href="price.html") Прайс
                li.nav__item
                    a.nav__link(href="about.html") О компании
                li.nav__item
                    a.nav__link(href="video.html") Видео
                li.nav__item
                    a.nav__link(href="contacts.html") Контакты

        address.header__phone.header-phone
            a.header-phone__link(href="tel:89008003040") 8 (900) 800 30 40