doctype html
html(lang="ru")
    include pug/_head.pug

    body

        include pug/_header.pug

        .page.container

            ul.breadcrumbs
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item.current
                    a.breadcrumbs__link(href="#") О компании

            .about
                .about__container
                    .content.about__content
                        h1 Soudal отмечает 50-летие рекордными результатами
                        p.
                            Оборот компании в 2015 году составил 630 миллионов евро, а количество сотрудников достигло 2 400 в марте 2016 года, Москва — SOUDAL, крупнейший в мире производитель полиуретановых пен и один из ведущих поставщиков герметиков, клеев и кровельных материалов, с гордостью делится своими достижениями и отличными финансовыми результатами за 2015 год, в котором компания установила новый рекорд по обороту и прибыли.

                        p.
                            Президент компании Вик Свертс (Vic Swerts) основал компанию 19 сентября 1966 года и стал первым и единственным на тот момент сотрудником. Оборот первого года был равен текущему обороту SOUDAL за 15 минут. Компания стремительно развивалась и в настоящее время имеет 54 представительства и 15 производственных единиц по всему миру. Валовый оборот компании вырос на 65 миллионов евро, составив в 2015 году 630 миллионов евро. При этом за последние пять лет он достиг невероятной цифры в 300 миллионов евро. Подобные показатели стали возможными только благодаря нацеленной на развитие стратегии с особым акцентом на органический рост.

                        p.
                            Мировое присутствие в профессиональной и розничной сферах помогли естественному и сбалансированному росту компании.

                        p.
                            Рост и экспансия являются главными факторами, которые влияют на развитие SOUDAL. В июне к компании присоединилась латвийская компания Tenachem, что способствовало увеличению продуктового портфолио, связанного с двойными стеклопакетами. Этот фактор сделал SOUDAL еще более конкурентоспособным в данной области. В сентябре 2015 года SOUDAL открыл три новых филиала в Таиланде, Вьетнаме и Марокко, что помогло усилить позиции компании во всем мире, включая восточную Азию и Африку, а также соседние страны. Начало 2016 года было положено приобретением шведского дистрибьютора Proflex, который был переименован в Soudal Proflex AB.

                        p.
                            Цель достигнуть оборота в 700 миллионов евро в 2016 году является частью плана по достижению оборота в один миллиард евро в 2020 году. Вик Свертс, основатель и президент компании, говорит: «Несмотря на некоторые сложности в 2015 году, мы завершили его с замечательными результатами. Это мотивирует меня на новые достижения. Я уверен, что Soudal может радоваться своим достижениям за полвека, и мы сможем достигнуть наших целей и в будущем, если будем продолжать упорно трудиться».

                        h2 О SOUDAL
                        p.
                            SOUDAL является крупнейшим независимым европейским производителем герметиков, клеев и полиуретановой пены для профессионального и домашнего использования. С оборотом 630 млн. евро в 2015 году, более 2 400 сотрудниками и 15 производственными площадками на четырёх континентах, бельгийский семейный бизнес, с его основателем Виком Свертсом, превратился в международного игрока и эксперта на рынке строительной химии. Постоянные инвестиции в R&D, долгосрочное видение инноваций и быстрая адаптация к потребностям рынка, поспособствовали превосходной производительности предприятия.

                        a(href="http://soudal.ru") www.soudal.ru

        include pug/_footer.pug
        include pug/_scripts.pug
