doctype html
html(lang="ru")
    include pug/_head.pug

    body

        include pug/_header.pug

        .page.container
            ul.breadcrumbs
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Продукция
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Бытовая линейка
                li.breadcrumbs__item.current
                    a.breadcrumbs__link.current(href="#") Полиуретановые пены

            .catalog
                .container.catalog__container
                    .categories.catalog__categories
                        -
                            var categories = ['Монтажная пена','Герметики','Клеи','SWS Теплый монтаж','Грунтовки','Ленты','Огнестойкие продукты','Инструменты']

                        .categories__block
                            .categories__title Бытовая линейка
                            ul.categories__list
                                each text in categories
                                    li.categories__item
                                        a.categories__link(href="#")=text

                        .categories__block
                            .categories__title Профессиональная линейка
                            ul.categories__list
                                each text in categories
                                    li.categories__item
                                        a.categories__link(href="#")=text

                    .content.catalog__content
                        .sort
                            p.sort__title.like-h2.beige Полиуретановые пены
                            .sort__text.
                                Soudal – это самый крупный в мире производитель монтажной полиуретановой пены в аэрозоле. Именно в лабораториях компании Soudal были изобретены инновационные продукты, которые определили направление перемен в строительной отрасли: монтажная пена для работы при низкой температуре, пена с повышенной производительностью Ex-tra 66% и пена с низким расширением. Новейшим решением компании Soudal стал запатентованный аппликатор Genius Gun – дающий целый ряд преимуществ, недоступных стандартным «ручным» пенам.
                            .sort__params.sort-params
                                //.sort-param__item
                                .sort-params__label Сортировка
                                select.sort-params__select
                                    option.sort-partams__option Название
                                    option.sort-partams__option Цена
                                    option.sort-partams__option Дата
                                    option.sort-partams__option Популярность
                                //.sort-param__item
                                select.sort-params__select
                                    option.sort-partams__option По возрастанию
                                    option.sort-partams__option По убыванию
                                //.sort-param__item
                                .sort-params__label Показать на странице
                                select.sort-params__select
                                    option.sort-partams__option 10
                                    option.sort-partams__option 25
                                    option.sort-partams__option 50
                                    option.sort-partams__option 75
                                    option.sort-partams__option 100

                        - var n = 0;

                        .products
                            ul.products__list
                                while n < 6
                                    li.product.products__item--catalog
                                        a.product__link(href="#")
                                            img.product__img(src='images/product-img.jpg')
                                            p.product__title Соудал зимняя ручная пена
                                    - n++


        include pug/_footer.pug
        include pug/_scripts.pug