doctype html
html(lang="ru")
    include pug/_head.pug

    body

        include pug/_header.pug

        .page.container

            ul.breadcrumbs
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item.current
                    a.breadcrumbs__link(href="#") Контакты

            .contacts
                .contacts__container
                    .maps.p-contacts__maps
                        .maps__tabs
                            .maps__tab.active(data-tab='1') Барнаул
                            .maps__tab(data-tab='2') Москва
                        .maps__contents
                            .maps__content.active(data-tab='1')
                                #map1.maps__map
                            .maps__content(data-tab='2')
                                #map2.maps__map


                        script.
                            function initMap() {
                                var barnaul = {
                                    lat: 53.368056,
                                    lng: 83.760606
                                };

                                var moscow = {
                                    lat: 55.372498,
                                    lng: 37.787408
                                };

                                var map = new google.maps.Map(document.getElementById('map1'), {
                                    zoom: 17,
                                    center: barnaul
                                });

                                var map2 = new google.maps.Map(document.getElementById('map2'), {
                                    zoom: 16,
                                    center: moscow
                                });

                                var marker = new google.maps.Marker({
                                    position: barnaul,
                                    map: map
                                });

                                var marker2 = new google.maps.Marker({
                                    position: moscow,
                                    map: map2
                                });
                            }





                    -
                        var contactsPage = [
                            {text: 'Алтайский край  г. Барнаул ул. Ярных 2, 2 этаж, каб 240'},
                            {text: 'Отделение в Москве: Домодедово,микрорайон Востряково, владение Триколор, 6, владение «Триколор»'},
                            {name:'Александр Геннадьевич',email:'liga.vs.stroy@yandex.ru', phone:'8 (913) 210 43 42', tel:'89132104342'},
                            {name:'Региональный отдел (Александр)', email:'mag.vs@yandex.ru', phone:'8 (983) 103 47 13', tel:'89831034713'},
                            {name:'Евгения Геннадьевна', email:'liga.ek.stroy@yandex.ru', phone:'8 (3852) 60 43 42', tel:'83852604342'},
                            {name:'Технический отдел (Владимир)', email:'liga.vs.stroy@yandex.ru', phone:'8 (902) 144 30 13', tel:'89021443013'},
                        ]

                    ul.contacts__list.contacts__list--page
                        each item in contactsPage
                            li.contacts__item.contacts__item--page

                                if item.name
                                    p.contacts__name=item.name

                                if item.email
                                    a.contacts__phone(href="tel:"+item.phone)=item.phone

                                if item.phone
                                    a.contacts__email(href="mailto:"+item.email)=item.email

                                if item.text
                                    p.contacts__text=item.text




        include pug/_footer--form.pug
        include pug/_scripts.pug
