doctype html
html(lang="ru")
    include pug/_head.pug

    body

        include pug/_header.pug

        .page.container

            ul.breadcrumbs
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Продукция
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Бытовая линейка
                li.breadcrumbs__item.current
                    a.breadcrumbs__link.current(href="#") Полиуретановые пены

            .detail
                .container.catalog__container
                    .categories.catalog__categories
                        -
                            var categories = ['Монтажная пена','Герметики','Клеи','SWS Теплый монтаж','Грунтовки','Ленты','Огнестойкие продукты','Инструменты']

                        .categories__block
                            .categories__title Бытовая линейка
                            ul.categories__list
                                each text in categories
                                    li.categories__item
                                        a.categories__link(href="#")=text

                        .categories__block
                            .categories__title Профессиональная линейка
                            ul.categories__list
                                each text in categories
                                    li.categories__item
                                        a.categories__link(href="#")=text

                    .content.catalog__content.detail__content
                        .catalog__detail-picture
                            img.catalog__detail-img(src="images/detail-product.jpg", alt="")
                        .catalog__detail-info
                            h1.page__title.beige Соудал ручная пена Комфорт
                            p.page__text.
                                Всесезонная монтажная пена многоразового использования с запатентованным аппликатором Genius Gun

                            h2.like-h4.page__subtitle.beige Свойства:

                            p.page__text.
                                Всесезонная формула позволяет работать в широком диапазоне температур от -10°C до +30ºC
                                Многоразовое использование - возможно прерывание и возобновление работы в любое время без риска заклинивания клапана
                                Удобное применение одной рукой
                                Точное дозирование - полный контроль количества выходящей из баллона пены (экономный расход - как пена из пистолета)
                                Формула низкого расширения,  безопасная для деликатных материалов
                                Отличная адгезия к древесине и древесным материалам, ПВХ, алюминию и другим металлам (также тонко покрытым  лаком), бетону, кирпичной стене, глазурованной поверхности и т.д.

                            h2.like-h4.page__subtitle.beige Применение
                            p.page__text.
                                Заполнение и звукоизоляция пустого пространства в каркасных конструкциях
                                Теплоизоляция элементов отопления и водоканализационных сетей, оснащения ванной комнаты, ванн, душевых кабин и т.д.
                                Уплотнение при монтаже окон и дверей из дерева, ПВХ и алюминия
                                Монтаж и герметизация подоконников, жалюзи, порогов, ступеней и т.д.
                                Теплоизоляция и звукоизоляция перегородок, полов, перекрытий, крыш и т.д.
                                Заполнение проходов трубопроводов,  переходов инсталяций в стенах и перекрытиях и т.п.

                            .page
                            p.page__text
                                span.like-page-title.beige  Доступная емкость:
                                span 750 мл

                            p.page__text
                                span.like-page-title.beige  Номер артикула:
                                span 123914

        include pug/_footer.pug
        include pug/_scripts.pug