doctype html
html(lang="ru")
    include pug/_head.pug

    body

        //START GREETING
        section.greeting
            include pug/_header.pug

            .greeting__container.container

                .greeting__content
                    h1.greeting__title Монтажные пены #[span.greeting__soudal soudal] от производителя

                    .greeting__images
                        img.greeting__img(src="images/greeting-img1.png", alt="")
                        img.greeting__img(src="images/greeting-img2.png", alt="")

        //END GREETING


        //START PRODUCTS
        section.products.products--main
            .products__container.container
                h2.products__title.section__title Наша продукция


                - var productsTitle = ['Монтажные пены', 'Герметики','Клеи','Технические аэрозоли']

                ul.products__list
                    each title in productsTitle
                        li.products__item.product
                            a.product__link(href="#")
                                img.product__img(src="./images/product.jpg", alt="")
                                p.product__title=title


                .product-mounth
                    a.product-mounth__link(href="#")
                        .product-mounth__descr
                            p.product-mounth__title Товар месяца: #[span.product-mounth__name  Flexi Foam]


                        .product-mounth__picture
                            img.product-mounth__img(src="images/product-img.jpg", alt="")

                .more-link-row
                    a.more-link(href="#") Смотреть еще

                //END PRODUCTS


        //START FEATURES
        section.features
            .features__container.container
                h2.features__title.section__title Наши преимущества

                -
                    var features = [
                        { title: 'Гарантия лучшей цены', imgPath: 'images/f1.png'},
                        { title: 'Кратчайшие сроки поставок', imgPath: 'images/f2.png'},
                        { title: 'Удобная логистика', imgPath: 'images/f3.png'},
                        { title: 'Индивидуальная работа с клиентом', imgPath: 'images/f4.png'},
                    ]

                ul.features__list
                    each arr in features
                        li.features__item
                            img.features__img(src=arr.imgPath)
                            p.features__name=arr.title

        //END FEATURES





        //START MEDIA
        section.media
            .media__container.container
                h2.media__title.section__title Видео


                -
                    var video = [
                        {title: 'Утепление частного дома. СВОЙ ДОМ', youtubePath: ''},
                        {title: 'Утепление частного дома. СВОЙ ДОМ', youtubePath: ''},
                        {title: 'Утепление частного дома. СВОЙ ДОМ', youtubePath: ''},
                    ]

                ul.media__list
                    each item in video
                        li.media__item
                            .media__video(src=item.youtubePath)
                            p.media__name=item.title

                .more-link-row
                    a.more-link(href="#") Смотреть еще
            //END MEDIA




        include pug/_footer.pug
        include pug/_scripts.pug