doctype html
html(lang="ru")
    include pug/_head.pug

    body

        include pug/_header.pug

        .page.container

            ul.breadcrumbs
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Прайс


        include pug/_footer.pug
        include pug/_scripts.pug