doctype html
html(lang="ru")
    include pug/_head.pug

    body

        include pug/_header.pug

        .page.container

            ul.breadcrumbs
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                li.breadcrumbs__item
                    a.breadcrumbs__link.current(href="http://dev-postnov.ru") Видео

            .about
                .container.video__container
                    ul.media__list
                        li.media__item.media__item--wide
                            .media__video
                            .media__name Утепление частного дома. СВОЙ ДОМ

                        li.media__item
                            .media__video
                            .media__name Утепление частного дома. СВОЙ ДОМ

                        li.media__item
                            .media__video
                            .media__name Утепление частного дома. СВОЙ ДОМ

                        li.media__item
                            .media__video
                            .media__name Утепление частного дома. СВОЙ ДОМ


        include pug/_footer.pug
        include pug/_scripts.pug
